html {
  background-color: white;
  font-family: helvetica;
}

body {
  margin: 0px;
}

header {
  background-color: lightgrey;
  padding-left: 10px;
}

.wrapper {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.sidebar {
  padding: 10px;
  flex: 20;
  width: 20%;
  order: -1;
  border: 1px;
  background-color: lightgreen;
}

.logout {  
  margin: 10px 0 20px 0;
}

.users {
  padding: 10px 0 10px 0;
}

.appBody {
  display: flex;
  flex: 1;
}

.login {
  flex: 80;
  background-color: white;
  padding: 20px;
}

.chat {
  height: 92%;
  overflow-y: auto;
  margin: 10px;
  flex: 80;
  background-color: white;
}

.chat p:first-child {
  margin-top: 0;
}

.message {
  overflow-y: scroll;
}

.messageText {
  padding: 10px;
  width: 100%;
}

.messageForm {
  margin-bottom: 10px;
  position: absolute;
  bottom: 0;
  width: 75%;
}