html {
  background-color: white;
  font-family: helvetica;
}

body {
  margin: 0px;
}

header {
  background-color: lightgrey;
  padding-left: 10px;
}

.wrapper {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

/* sidebar */
.sidebar {
  padding: 10px;
  flex: 15;
  width: 20%;
  order: -1;
  border: 1px;
  background-color: lightskyblue;
}

.logout {  
  margin: 10px 0 20px 0;
}

.appBody {
  display: flex;
  flex: 1;
}

.login {
  flex: 80;
  background-color: white;
  padding: 20px;
}

/* chat area */

.chat {
  height: 92%;
  overflow-y: auto;
  margin: 10px;
  flex: 85;
  background-color: white;
}

.chat p:first-child {
  margin-top: 0;
}

.chat p {
  margin-bottom: 10px;
  margin-top: 10px;
}

.messageList {
  padding-right: 10px;
}

.outgoingMessage, .incomingMessage {
  min-height: 30px;
}

.outgoingMessage, .incomingMessage {
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.outgoingMessage {
  text-align: right;
  background-color: lightskyblue;
  margin-left: 15%;
}

.incomingMessage {
  background-color: lightgrey;
  margin-right: 15%;
  text-align: left;
}

.newMessages {
  text-align: center;
  font-size: 75%;
  color: skyblue;
  opacity: .y5;
}

hr {
  border-color: skyblue;
}

.messageDate {
  font-size: 75%;
  opacity: .5;
}

/* message input */

.messageText {
  padding: 10px;
  width: 100%;
}

.messageForm {
  margin-bottom: 10px;
  position: absolute;
  bottom: 0;
  width: 75%;
}